body {
  width: 100%;
  margin: 0;
}
header {
}

.header-page {
  width: 100%;
  min-height: 90px;
  background-color: #eeeeee;
  border: 1px solid;
}

.container {
  margin: 0 150px;

}

.header-logo {
  float: left;
  border: 1px solid;
}

.header-nav-menu {
  float: right;
  border: 1px solid;
}
